<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">wyloguj</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">zaloguj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_user' %}">zarejestruj</a>
            </li>
        {% endif %}
    </ul>
</div>